{#  This file is part of Ydle.

    Ydle is free software: you can redistribute it and/or modify
    it under the terms of the GNU  Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Ydle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU  Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Ydle.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends "YdleRoomBundle:Default:index.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 with-border" style="width: 760px; margin-right: 20px;">
          
            <h2>{{ room.name }}</h2>
            {% if room.nodes|length %}
            {% for node in room.nodes %}
            <div class="graph-container">
                <div id="graphplaceholder-{{ node.id }}" class="graph graphplaceholder" data-nid="{{ node.id }}"></div>
            </div>
            {% endfor %}
            {% endif %}
            
        </div>
        <div class="col-lg-4 content panel panel-default">
          <div class="panel-heading">
          <h3 class="panel-title">{{ "label.details" | trans }}</h3>
          </div>
          <div class="panel-body">
          {{ "label.name" | trans }} : {{ room.name }}<br />
          {{ "label.type" | trans }} : {{ room.type.name }}<br />
          {{ "label.active" | trans }} : {% if room.isactive %}
          <a href="" class="label label-success">{{ "label.yes" | trans }}</a>
          {% else %}
          <a href="" class="label label-primary">{{ "label.no" | trans }}</a>
          {% endif %}<br />
          {% if room.description %}
          {{ "label.description" | trans }} : {{ room.description }} <br />
          {% endif %}
          {{ "room.nodes" | trans }} : 
          {% if room.nodes|length %}
            {% for node in room.nodes %}
              {{ node.name }}<br />
            {% endfor %}
          {% else %}
          {{ "room.nosensor" | trans }}
          {% endif %}
          </div>
          <div class="panel-footer">
          <a href="{{ path('rooms') }}" class="btn btn-default">{{ "action.return" | trans }}</a>
          </div>
        </div>
        {% if data | length %}
        <div class="col-lg-4 content panel panel-default">
          <div class="panel-heading">
          <h3 class="panel-title">{{ "room.data" | trans }}</h3>
          </div>
          <div class="panel-body">
          {% for sensorData in data %}
            {% set type = sensorData.type.unit %}
            {% if type == '°' %}
              {{ sensorData.type.name }} : {{ sensorData.data / 100 }} °C
            {% elseif type == '%' %}
              {{ sensorData.type.name }} : {{ sensorData.data / 100 | number_format }} %
            {% endif %}
          {% endfor %}
          </div>
        </div>
        {% endif %}
    </div>
{% endblock %}