{#  This file is part of Ydle.

    Ydle is free software: you can redistribute it and/or modify
    it under the terms of the GNU  Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Ydle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU  Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Ydle.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends "YdleRoomBundle:Default:index.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Nodes</h3>
                <div class="box-tools pull-right">
                    <button data-widget="collapse" class="btn btn-primary btn-xs"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body ajax-loading table-responsive" id="room-nodes-list" data-endpoint="/room/nodes/list.json?room_id={{ room.id }}" data-template="room-nodes-list">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ room.name }}</h3>
            </div>

            <div class="box-body">
            {{ "label.name" | trans }} : {{ room.name }}<br />
            {{ "label.type" | trans }} : {{ room.type.name }}<br />
            {{ "label.active" | trans }} : {% if room.isactive %}
            <a href="" class="label label-success">{{ "label.yes" | trans }}</a>
            {% else %}
            <a href="" class="label label-primary">{{ "label.no" | trans }}</a>
            {% endif %}<br />
            {{ "room.nodes" | trans }} : 
            {% if room.nodes|length %}
              {% for node in room.nodes %}
                {{ node.name }}<br />
              {% endfor %}
            {% else %}
            {{ "room.nosensor" | trans }}
            {% endif %}
            {% if room.description %}
            {{ "label.description" | trans }} : {{ room.description }} <br />
            {% endif %}
            </div>
        </div>
    </div> 
</div>
{% if room.nodes|length %}
<div class="row">
{% if room.nodes|length %}
    <div class="col-md-8">
    {% for node in room.nodes %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ node.name }}</h3>
                <div class="box-tools pull-right">
                    <button class="graph-action btn btn-primary disabled" data-value="day">Day</button>
                    <button class="graph-action btn btn-primary" data-value="week">Week</button>
                    <button class="graph-action btn btn-primary" data-value="month">Month</button>
                    <button data-widget="collapse" class="btn btn-primary btn-xs"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body ajax-graph" data-endpoint="/room/node/stats.json?node={{ node.code }}" data-filter="day">
                <div class="graph-placeholder"></div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-md-4">
    {% for node in room.nodes %}
        {% if node.types %}
            {% for type in node.types %}
                {% if type.unit == "°C" %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Current temperature</h3>
                    </div>
                    <div class="box-body">
                        <span class="glyphicon icon-icon_52631"> {{ data[type.id].data }} {{ data[type.id].unit }}</span>
                    </div>
                </div>
                {% elseif type.unit == "%" %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Current humidity</h3>
                    </div>
                    <div class="box-body">
                        <span class="glyphicon icon-icon_51985"> {{ data[type.id].data }} {{ data[type.id].unit }}</span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
</div>
{% endif %}

{% endblock %}
