{#  This file is part of Ydle.

    Ydle is free software: you can redistribute it and/or modify
    it under the terms of the GNU  Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Ydle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU  Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Ydle.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends "YdleHubBundle::layout.html.twig" %}

{% block title '{{ "page.rooms.title" | trans }}' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <!-- small box -->
        <div class="box">
            <div class="box-header" style="cursor: move;">
                    <h3 class="box-title">All rooms</h3>
                    <div class="box-tools pull-right">
                    <button data-original-title="Collapse" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
                    </div>
            </div>
            <div class="box-body table-responsive">
                <div role="grid" class="dataTables_wrapper">
                    <table class="table table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                            <th>Nom de la pièce</th>
                            <th>Type de pièce</th>
                            <th>Actif ? </th>
                            <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                            <th>Nom de la pièce</th>
                            <th>Type de pièce</th>
                            <th>Actif ? </th>
                            <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% if items %}
                    {% for item in items %}
                    <tr class="{{ cycle(['odd','even'], loop.index0) }}">
                            <td><a href="{{ path('room', {'room': item.id }) }}">{{ item.name }}</a></td>
                            <td>{{ item.type.name }}</td>
                            <td>
                                {% if item.isactive %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">No rooms yets</td>
                    </tr>
                    {% endif %}
                    </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-6"><div id="example2_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./col -->
</div>
{% endblock %}
